n8n/air_quality_flow.json
{
  "name": "Air Quality AI Analyst",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "air-quality",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "webhook-trigger",
      "webhookId": "air-quality-monitor"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "Analyze this indoor air quality data:\n\nScore: {{ $json.body.air_quality_score }}%\nStatus: {{ $json.body.air_quality_status }}\nTemp: {{ $json.body.temperature_c }}C\nHumidity: {{ $json.body.humidity_rh }}%\n\nInstructions:\n1. If score > 80, give a short positive remark.\n2. If humidity > 60, suggest a fan.\n3. If humidity < 30, suggest a humidifier.\n4. Keep response under 20 words.",
        "options": {
          "systemMessage": "You are a smart home assistant."
        }
      },
      "name": "AI Insight Generator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "ai-analysis",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"explanation\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "name": "Respond to Dashboard",
      "type": "n8n-nodes-base.webhookResponse",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "webhook-response"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Webhook\"][\"json.body.air_quality_score\"] }}",
              "operation": "smaller",
              "value2": 50
            }
          ]
        }
      },
      "name": "Critical Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "id": "check-critical"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "âš ï¸ **Air Quality Alert**\n\nLevel has dropped to {{ $node[\"Webhook\"][\"json.body.air_quality_score\"] }}%.\nCheck ventilation immediately!",
        "additionalFields": {}
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        750,
        500
      ],
      "id": "telegram-alert",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Insight Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Insight Generator": {
      "main": [
        [
          {
            "node": "Respond to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Quality Check": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}